@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
a {
  text-decoration: none; }

li {
  list-style-type: none; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  /* Primary Colors */
  --color-orange: #ff7d1a;
  --color-pale-orange: #ffede0;
  /* Neutral Colors */
  --color-very-dark-blue: #1d2025;
  --color-dark-grayish-blue: #68707d;
  --color-grayish-blue: #b6bcc8;
  --color-light-grayish-blue: #f7f8fd;
  --color-white: #fff;
  --color-black: rgba(0, 0, 0, 0.75); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh; }

.overlay {
  cursor: pointer;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1; }
  .overlay--active {
    display: block; }

.header {
  position: relative;
  padding: 1.9rem 2.4rem;
  background-color: var(--color-white); }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 16.95rem; }
    .header__menu-btn {
      cursor: pointer;
      transition: 0.2s; }
      .header__menu-btn:hover {
        transform: scale(1.15); }
    .header__menu-logo {
      display: block; }
  .header__shopping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 6.8rem; }
    .header__shopping .header__cart {
      cursor: pointer;
      position: relative; }
      .header__shopping .header__cart-bubble {
        position: absolute;
        left: 0.9rem;
        bottom: 1.3rem;
        background-color: var(--color-orange);
        border-radius: 0.65rem;
        width: 1.9rem;
        height: 1.3rem;
        text-align: center;
        color: var(--color-white);
        font-weight: bold;
        font-size: 1rem; }
    .header__shopping .header__avatar {
      cursor: pointer;
      height: auto;
      width: 2.4rem;
      border: 2px solid var(--color-white);
      border-radius: 50%;
      transition: 0.2s; }
      .header__shopping .header__avatar:hover {
        border-color: var(--color-orange); }

.header__nav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2.5rem;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143); }
  .header__nav--show {
    width: 67%; }
  .header__nav-links .header__nav-link {
    padding-left: 2.5rem;
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: var(--color-very-dark-blue);
    display: block;
    transition: 0.3s; }
    .header__nav-links .header__nav-link:hover {
      color: var(--color-orange); }

.header__close {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 2.5rem;
  margin-bottom: 5.4rem;
  transition: 0.2s; }
  .header__close:hover {
    transform: scale(1.15); }

.checkout {
  display: none;
  position: absolute;
  top: 7rem;
  right: 0.7rem;
  background-color: var(--color-white);
  width: 36rem;
  border-radius: 1rem;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  transition: 0.3s; }
  .checkout--show {
    display: block; }
  .checkout__header {
    padding: 2.4rem 2.4rem 2.7rem;
    border-bottom: 1px solid var(--color-light-grayish-blue); }
    .checkout__header-heading {
      font-size: 1.6rem;
      line-height: 1.6rem;
      color: var(--color-very-dark-blue); }
  .checkout__product-list {
    padding: 2.4rem 2.4rem 3.2rem; }
    .checkout__product-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.4rem; }
      .checkout__product-list-item-image {
        height: auto;
        width: 5rem;
        border-radius: 0.4rem; }
      .checkout__product-list-item-remove {
        cursor: pointer; }
    .checkout__product-list-item-title {
      font-size: 1.6rem;
      line-height: 2.6rem;
      color: var(--color-dark-grayish-blue); }
    .checkout__product-list-item-value {
      font-size: 1.6rem;
      line-height: 2.6rem;
      color: var(--color-dark-grayish-blue); }
      .checkout__product-list-item-value span:nth-child(4) {
        color: var(--color-very-dark-blue); }
      .checkout__product-list-item-value3 {
        color: var(--color-very-dark-blue); }
    .checkout__product-list-btn {
      cursor: pointer;
      font-family: inherit;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 1.6rem;
      padding-top: 2.2rem;
      padding-bottom: 2.2rem;
      background-color: var(--color-orange);
      color: var(--color-white);
      width: 100%;
      border: transparent;
      border-radius: 1rem;
      transition: 0.3s; }
      .checkout__product-list-btn:hover {
        transform: translateY(-0.25rem); }

.main__slideshow {
  position: relative;
  top: 0;
  left: 0; }
  .main__slideshow .main__slides {
    height: 100%; }
    .main__slideshow .main__slides--active {
      display: block; }
    .main__slideshow .main__slides .main__slide {
      width: 100%; }
  .main__slideshow .main__arrow {
    cursor: pointer;
    position: absolute;
    top: 40%;
    height: 4rem;
    width: 4rem;
    background-color: var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__slideshow .main__prev {
    left: 2rem; }
  .main__slideshow .main__next {
    right: 2rem; }

/*# sourceMappingURL=app.css.map */
